@charset "utf-8";

/* 폰트적용 - 시작 */
@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff")
      format("woff");
}

@font-face {
  font-family: "LotteMartDream";
  font-style: normal;
  font-weight: 300;
  src: url("https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff")
      format("woff");
}

html > body,html>body .toast-ui-editor, html>body .toastui-editor-contents, html>body .ProseMirror, html>body .toastui-editor-md-mode {
  font-family: "LotteMartDream", sans-serif;
  text-underline-position: under;
}
/* 폰트적용 - 끝 */

/* 유틸 - 시작 */
.row-span-7 {
  grid-row: span 7 / span 7;
}

.row-span-8 {
  grid-row: span 8 / span 8;
}

.touch-imposible .invisible-scrollbar-box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.grid-item-float {
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
}

.item-bt-1 > * {
  border-top: 1px solid #afafaf;
}

.item-bb-1-not-last-child > *:not(:last-child) {
  border-bottom: 1px solid #afafaf;
}

.title-bar-type-2 {
  font-size:1.1rem;
  padding-top:5px;
  padding-bottom:5px;
  margin-top:20px;
  margin-bottom:15px;
  border:solid black;
  border-width:2px 0;
}

.title-bar-type-2:first-child {
  margin-top:0;
}

.form-control .plain-text {
  padding: 0 0.25rem;
  color: rgba(0, 0, 0, 0.7);
}

.plain-link-wrap.gap-2 > *:not(:last-child) {
  margin-right: 0.5rem;
}

.plain-link-wrap.gap-3 > *:not(:last-child) {
  margin-right: 0.75rem;
}

.form-type-1 {
  gap: 10px;
}

.btn-wrap {
  display: flex;
  flex-wrap: wrap;
}

.btn-wrap.gap-1 > *:not(:last-child) {
  margin-right: 0.25rem;
}

.btn-wrap.gap-2 > *:not(:last-child) {
  margin-right: 0.5rem;
}

.btn-wrap.gap-3 > *:not(:last-child) {
  margin-right: 0.75rem;
}

:root {
  --card-title_height: 40px;
  --card-title_left-btn-cell-width: 50px;
}

.card-title {
  background-color: #3c564f;
  color: white;
  text-align: center;
  height: var(--card-title_height);
  position: absolute;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: var(--card-title_left-btn-cell-width) auto var(
      --card-title_left-btn-cell-width
    );
}

.card-title + * {
  margin-top: var(--card-title_height);
}

html > body .plain-link {
  color: rgb(59, 130, 246);
}

html > body .plain-link:hover {
  text-decoration: underline;
}

.max-h-18 {
  max-height: calc(0.25rem * 18);
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/* 유틸 - 끝 */

/* 기타 - 시작 */
.component-title-bar {
  border: solid black;
  border-width: 2px 0;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* 기타 - 끝 */

@media (max-width: 640px) {
  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }
}


/* 탑바 시작 */
:root {
  --top-bar__color-1:#f1f1f1;
}

.top-bar {
  /* .bg-white */
  background-color:white;

  /* .shadow-lg */
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  height: 3rem;
}

/* 탑바 - 메뉴 박스 시작 */
.top-bar .menu-box-1 {
  overflow-x:auto;
}

/* 탑바 - 메뉴 박스 - 터치 불가능한 경우 스크롤바 제거 */
.touch-imposible .menu-box-1::-webkit-scrollbar
{
  width: 0;
  height: 0;
}

/* 탑바 - 메뉴 박스 - 더보기 그림자 시작 */
.top-bar .container {
  position:relative;
}

.top-bar-logo{
	
	height:auto;
	width:20px;
}

.top-bar .container::after {
  content:"";
  position:absolute;
  top:0;
  right:0;
  width:40px;
  height:100%;
  background-image:linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
  pointer-events:none;
}
/* 탑바 - 메뉴 박스 - 더보기 그림자 끝 */

/* 탑바 - 메뉴 박스 - 아이템 시작 */
.top-bar .menu-box-1 ul > li > a > span {
  white-space:nowrap;
}

.top-bar .menu-box-1 ul > li:hover > a {
  background-color:var(--top-bar__color-1);
}
/* 탑바 - 메뉴 박스 - 아이템 끝 */

/* 탑바 - 메뉴 박스 - 2차 메뉴 시작 */
.top-bar .menu-box-1 > ul > li:hover > div {
  display:block;
}

.top-bar .menu-box-1 > ul > li > div {
  position:fixed;
  left:0;
  width:100%;
  display:none;
  background-color:white;
  /* .shadow-lg */
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.top-bar .menu-box-1 > ul > li > div > h1 > a {
  display:flex;
  background-color:flex;
  justify-content:center;
  padding:.5rem 0;
  background-color:var(--top-bar__color-1);
}

.top-bar .menu-box-1 > ul > li > div > ul > li > a {
  display:flex;
  background-color:flex;
  justify-content:center;
  padding:.5rem 0;
}
/* 탑바 - 메뉴 박스 - 2차 메뉴 끝 */

.top-bar--fly {
  top:0;
  left:0;
  width:100%;
  z-index:50;
  position:fixed;
}
/* 탑바 끝 */

/* 메인페이지 */
.container-1 {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  
}

.credit {
  position: fixed;
  top: 20px;
  right: 20px;
  font-family: Termina, sans-serif;
  font-weight: 800;
  font-size: 0.7rem;
}

.credit a {
  color: #1a292c;
  text-transform: lowercase;
}

.container-1:nth-child(1) {
  background: #3c564f;
}
.container-1:nth-child(2) {
  background: #b69187;
}
.container-1:nth-child(4) {
  background: #bcb8ad;
}
.container-1:nth-child(3) {
  background: #b6916d;
}

img {
  height: 100%;
  width: auto;
  max-width: 75vw;
  object-fit: contain;
}

.bookPoster img {
  height: 50%;
  width: auto;
  max-width: 75vw;
  object-fit: contain;
}

h2  {
  font-family: Termina, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  color: transparent;
  font-size: clamp(3rem, 10vw, 6rem);
  position: absolute;
  top: 25%;
  left: 5%;
  width: 90%;
  height: 50%;
  z-index: 99;
  display: grid;
  place-items: center;
}

.fadeup-font{
	font-family: Termina, sans-serif;
	color:white;
	opacity:0.8;
}

body:not(.no-js) .image-wrap {
  transition: 1s ease-out;
  transition-delay: 0.2s;
  position: relative;
  width: auto;
  height: 80vh;
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  visibility: hidden;
}

body:not(.no-js) .image-wrap img {
  transform: scale(1.3);
  transition: 2s ease-out;
}

body:not(.no-js) .animating .image-wrap {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  visibility: visible;
  transform: skewY(0);
}

body:not(.no-js) .animating img {
  transform: scale(1);
  transition: 4s ease-out;
}

body:not(.no-js) .fadeup {
  opacity: 0;
  transition: 0.4s ease-out;
  transform: translateY(40px);
}

body:not(.no-js) .fading-up {
  opacity: 1;
  transition: 1s ease-out;
  transform: translateY(0px);
  transition-delay: 0.7s;
}


/*로그인페이지폼*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


.loginForm-out{

	padding:5rem;
	background-color:#f5f5f5;
}

.loginForm-in{
	background-color:white;
}



a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #ffeba7;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
  color:white;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #102770;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-270deg);
}


.card-3d-wrap {
  position: relative;
  width: 600px;
  max-width: 100%;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
  
  
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #3c564f;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border-style: solid;
}
.card-front-1, .card-back {
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  border:3px dotted red;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn-1{  
  border-radius: 4px;
  height: 44px;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #b7c4b1;
  color: white;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn-1:active,
.btn-1:focus{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn-1:hover{  
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

.logo {
	position: absolute;
	top: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 5rem;
	width: auto;
	display: block;
	
}

.imgBackground {
	margin:10px;
	padding:5px;
	
	height: 150px;
	width: auto;
	
	
}


/*로그인페이지폼*/



